*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  background-color: rgb(249, 250, 250);
  font-family: "Noto Serif Georgian", serif;
  color:#141719;
}

.container{
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.universal-wrapper{
  padding: 36px 15px
}

h1{
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 16px;
}

h2{
  font-size: 14px;
  font-weight:700;
}

h3{
  font-size: 16px;
  color: #fff;
}

 h3, h4{
  font-weight: 700;
  line-height: 30px;
}

a{
  text-decoration: none;
  color: #555f62;
 }


  /* /////////////////////////////////
              header 
  ///////////////////////////////// */

header{
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}

.header-wrapper{
  width: 100%;
  height: 100%;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.header-desktop-menu, .header-bg-image, .lang-dropdown , .tablet-header-logo, .desktop-buttons{
  display: none;
}

.header-buttons{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.search-wrapper{
  padding: 8px;
}

.arrow-link{
  display: flex;
  align-items: center;
  gap:6px;
  color: #182cc0;
  
}

.arrow-link a{
  color: #182cc0;
  font-size: 12px;
  font-weight: 700;
}

.search-wrapper :hover{
  color: #007aff;
}

.arrow-link:hover svg {
  fill:  #007aff;
}

.arrow-link:hover a {
  color:  #007aff;
}



.overlay {
  width: 0;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(249, 250, 250);
  overflow-x: hidden;
  margin-top:80px;
}

.overlay-content{
  background-color: #fff;
}

.header-drop-down ,.footer-drop-down {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding:32px 15px;
}

.drop-down-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header-drop-down-link {
  font-size: 18px;
  color:rgb(20, 23, 25) ;
  font-weight: 700;
  cursor: pointer;
}

.h-dropdown-content, .f-dropdown-content{
  display: none;
  padding-top: 20px;
  flex-direction: column;
  gap: 16px;
  transition: max-height 0.7s ease-out;
  max-height: 0;
  overflow: hidden;
}


.h-dropdown-content a, .f-drop-down a {
  color: rgb(85, 95, 98);
  text-align: left;
  font-size: 16px;
  }
  
.open-icon {
  cursor: pointer;
  position: relative;
  width: 36px;
  padding: 8px;
}

.open-icon span {
  background-color: #555f62;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.open-icon .line-1 {
  transform: translate(0%, -8px);
  width: 11px;
}

.open-icon .line-3 {
  width: 15px;
  transform: translate(0%, 7px);
}

.openmenu .line-1 {
  transform: translate(-50%, 50%) rotate(-45deg);
  width: 20px;
  height: 2px;
}

.openmenu .line-3 {
  transform: translate(-50%, 50%) rotate(45deg);
  width: 20px;
  height: 2px;
}

.openmenu .line-2 {
  opacity: 0;
}

.dropdown-line{
  width: 100%;
  height: 1px;
  background-color: #d1d5d6;
  border:0px;
}

.contact{
  padding: 32px 15px;
}

.contact p{
  font-weight: 700;
  font-size: 16px;
}

.contact-list{
  padding-top: 32px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap:32px;
}

.contact-list span{
  display: flex;
  gap: 10px;  
}

.contact-list a , .number-category{
  font-weight: 500;
}

.social-media-wraper{
  display: flex;
  gap:15px;
  padding-top: 24px;
}

.social-media{
  width:52px;
  height: 52px;
  border-radius: 6px;
  background-color: #f9fafa;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-bottom ,.footer-bottom{
  padding:24px 15px;
  display: flex;
  flex-direction: column;
  gap:24px;
  background-color: rgb(249, 250, 250);
}

.header-bottom-links, .footer-bottom-links{
  display: flex;
  gap: 30px;
}
.header-bottom-links a, .header-bottom p{
  color: #555f62;
  font-size: 12px;
}

.header-bottom-logo, .footer-bottom-logo{
  display: flex;
  align-items: center;
  gap:15px;
  color: #555f62;
}


  /* /////////////////////////////////
              header 
  ///////////////////////////////// */

main{
  padding-top: 80px;
  overflow-x: hidden;
}

.current-page-section{
  padding: 16px 15px;

}

.current-page-section p{
  font-weight: 500;
  font-size: 12px;
}

.hero-section-wrapper {
  width: 100%;
  min-height: 360px;
  padding-top: 32px;
  padding-bottom: 36px;
}

.hero-section {
  position: relative;
  width: 100%;
  min-height: 360px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.hero-content {
  position: relative;
  padding: 172px 15px 20px;
  z-index: 1; 
}

.hero-content p{
  color: #fff;
  padding-bottom: 24px;

}

.hero-button {
  color: #fff;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  transition: background-color .25s ease-in-out, transform .25s ease-in-out;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  width: 100%;
  cursor: pointer;
  gap:6px;
}

.hero-button :hover {
  background-image: linear-gradient(15deg, #3295ce, #1e76a4); 
  transform: scale(1.01);
}

.text{
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.section-header{
  padding-bottom: 20px;
}

.select-cards-container{
  max-height: 232px;
  display:flex;
  overflow-x: scroll;
  gap: 16px;
  margin-right:-15px;
}

.select-card {
  position: relative;
  min-width: 280px;
  min-height: 232px;
  cursor: pointer;
}

.select-card :hover {
  transform: scale(1.01);
}

.select-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  filter: brightness(0.8); 
  border-radius: 8px;
}

.select-card-content {
  position: relative;
  padding: 24px;
  min-height: 232px;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}


.select-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:6px;
}

.select-btn a, .select-btn svg{
  font-size: 12px;
  font-weight: 700;
  color:white;
}

.select-btn:hover svg {
  fill: gray;
}

.select-btn:hover a {
  color: gray;
}

.numbers-container{
  display: flex;
  flex-direction: column;
  gap:16px;
}

.number-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.number{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
}

.section-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.h-scroll-card{
  border-radius: 6px;
  border: 1px solid #e1e4e5;

}

.h-scroll-card img{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
}

.h-scroll-card-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 20px;
}

.h-scroll-card-content p{
  color: #6f787b;
  font-size: 12px;
  font-weight: 700;
}

.product-description{
  color:rgb(85, 95, 98) !important;
  font-weight: 400 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.h-scroll-cards-container{
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
  grid-auto-columns: 78%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-bottom:20px;
  margin-right:-15px;
  padding-right: 15px;
}

.h-scroll-cards-container .h-scroll-card ::-webkit-scrollbar{
  display: none;
}

.slider-scrolbar{
  height: 2px;
  width: 100%;
}

.scrollbar-track{
  height: 2px;
  width: 100%;
  background-color: #d1d5d6;
  position: relative;
  border-radius: 4px;
}


.scrollbar-thumb{
  position: absolute;
  height: 2px;
  width: 137px;
  background: #182cc0;
  border-radius: inherit;
  cursor: grab;
}

.arrow-btn{
  border: none ;
  outline: none;
  cursor: pointer;
  display: none;
}

.download-app-wrapper{
  background-color: #fff;
}

.download-app-content{
  display: flex;
  flex-direction: column;
  grid-row-gap: 24px;
}

.download-padding{
  padding:32px 15px;

}

.mobile-img{
  height: auto;
  max-width: 370px;
  display: inline-block;
}

.download-app-content p{
  color: #555f62;
}

.downolad-btn{
  padding:16px 32px;
  background-color: #f9fafa;
  gap: 4px;
  color: #182cc0;
  text-transform: uppercase;
  border: 1px solid #182cc0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-position .25s ease-in-out;
}

#awards-container{
  grid-auto-columns: 82.3%;
}
.award-card{
  background-color: #fff;
  border:none;
}
.award-card-content{
  padding: 28px;
  gap: 16px;
}
.award-card img{
  height: 52px;
  width: auto;
}

.award-card p{
  font-size: 14px;
  font-weight: 400;
  color: #555f62;
}

.lang-dropbtn {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 36px;
  cursor: pointer;
  padding: 0px 8px;
  display: flex;
  gap: 4px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #555f62;
  font-weight: 700;
  position: relative;
}

.lang-dropdown-content {
  display: none;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  padding:8px 0px;
  font-weight: 500;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, .05);
  position: absolute;
  top: 36px;
  bottom: auto;
  left: 0;
  right: 0;
  margin-top:4px;
}

.lang-dropdown-content a {
  color:  #141719;
  padding: 4px 0px;
  display: block;
  font-weight: 500;
  
}

.lang-dropdown-content a:hover {
  background-color: #ddd;
}

.lang-dropdown:hover .lang-dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-dropdown:hover .lang-dropbtn {
  background-color: #d3d3d3;
}

.footer-wrapper{
  width: 100%;
  background-color: #fff;
  margin-top: 36px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 32px 15px;
  border-bottom: 1px solid #d1d5d6;
  background-color: #fff;
}

footer a{
  color:black;
}

.footer-lang-btn{
  padding:0px 12px;
  background-color: #eef1f1;
  height: 40px;
}

.footer-content{
  background-color: #fff;
}

.footer-drop-down{
  padding:24px 15px;
}

.footer-drop-down-link {
  font-size: 16px;
  color:rgb(20, 23, 25);
  font-weight: 700;
  cursor: pointer;
}

.f-dropdown-content a{
  color: #555f62;
}
 
footer .contact p{
  font-size: 16px;
}

.footer-bottom-links a, .footer-bottom p{
  color: #555f62;
  font-size: 14px;
}


@media (min-width: 479px) {

  h1, h2{
    font-size: 24px;
  }

  .universal-wrapper{
    padding: 40px 45px;
  }
    /* /////////////////////////////////
              header 
  ///////////////////////////////// */


  header , .header-drop-down , .footer-drop-down{
    padding-left: 45px;
    padding-right: 45px;
    
  }

  .header-wrapper{
    gap:32px;
  }

  .header-buttons{
    gap:16px;
  }

  .arrow-link a{
    font-size:14px;
  }

  .contact{
    padding: 32px 45px;
  }

  .contact p{
    font-size: 24px;
  }

  .header-contact-list{
    padding-bottom:32px;
  }

  .header-bottom , .footer-bottom{
    gap:32px;
    padding-left: 45px;
    padding-right: 45px;
  }
  
   /* /////////////////////////////////
              header 
  ///////////////////////////////// */

  .current-page-section{
    padding: 24px 45px;
  }

  .hero-section-wrapper{
    padding-bottom: 40px;
  }

  .hero-content{
    padding: 240px 45px 36px;
  }

  .text{
    font-size: 28px;
  }

  .section-header{
    padding-bottom: 28px;
  }


  .select-cards-container{
    margin-right:-45px;
  }

  .numbers-container{
    gap:30px
  }

  .number-card {
    padding: 40px;
  }

  .number{
    font-size: 44px;
  }

  .number-category{
    font-size: 16px;
  }

  .h-scroll-cards-container{
    padding-bottom:28px;
    padding-right:45px;
    margin-right:-45px;
  }

  .download-app-wrapper{
    margin:40px 0px;
  }

  .download-padding{
    padding:45px;
  }

  .download-app-content{
    grid-row-gap:28px;
  }

  .footer-wrapper{
    margin-top: 40px;
  }

  .footer-top{
    padding: 36px 45px;
  }

  .footer-drop-down{
    padding:36px 45px;
  }

  .f-dropdown-content{
    gap: 24px;
  }

  .f-dropdown-content a{
    font-size: 16px;
  }

  .footer-drop-down-link, footer .contact p {
    font-size: 24px;
  } 

  footer .contact{
    padding: 56px 45px;
  } 

  footer .contact-list, .footer-bottom{
    padding-top: 32px;
    padding-bottom: 32px;
  }


}

@media (min-width: 600px) {

  .h-scroll-cards-container , #awards-container{
    grid-auto-columns: 48.4%;
  }

}


@media (min-width: 767px) {

  h3{
    font-size: 24px;
  }

  h4{
    font-size:16px;
  }

  .universal-wrapper{
    padding: 50px 45px;
  }


    /* /////////////////////////////////
              header 
  ///////////////////////////////// */
  .mobile-header-logo{
    display: none;
  }

  .tablet-header-logo{
    display: flex;
  }

  .contact p , .select-btn a{
    font-size: 14px;
  }

  .contact-list{
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 16px;
  }

  .social-media-wraper{
    display: flex;
    gap:4px;
    padding-top: 16px;
  }

  .social-media {
    width: 40px;
    height: 40px;
  }

  .social-media:hover{
    background-color: #d3d3d3;
  }

  .header-bottom, .footer-bottom{
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #eef1f1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-bottom-logo , .footer-bottom-logo{
    order:-1;
  }

  .header-bottom-links{
    gap:35px;
  }


    /* /////////////////////////////////
              header 
  ///////////////////////////////// */

  .hero-section-wrapper{
    padding:32px 45px 50px 45px;
    
  }

  .hero-image{
    border-radius: 6px;
  }

  .hero-content{
    max-width: 540px;
  }

  .hero-button{
    width: 149px;
  }

  .text{
    font-size: 32px;
    padding-right: 10px;
  }

  .section-header{
    padding-bottom:36px;
  }

  .select-cards-container{
    overflow: visible;
    min-height: 494px;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-right: 0px;
  }

  .select-card-content{
    height: 100%;
  }

  .col-2{
    grid-area: span 2 ;
  }


  .number-card {
    padding:40px 48px;
  }

 .h-scroll-cards-container{
  padding-bottom: 38px;
 }

 .h-scroll-card-content{
  padding: 28px;
  gap:16px;
 }

 .download-app-wrapper {
  margin: 50px 0px;
 }

 .download-padding{
  padding-top:0px;
  padding-bottom: 0px;
 }

 .download-app-content{
  position: relative;
  grid-row-gap:16px;
  min-height: 300px;
  justify-content: center;
 }

 .download-app-content h2{
  padding-bottom:8px
 }

 .mobile-img{
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  max-height: 90%;
}
  
.download-app-content p{
  width: 55%;
}

.downolad-btn{
  width: 159px;
  margin-top: 8px;
}

.award-card-content{
  gap:24px;
}

.footer-wrapper{
  margin-top:50px;
}

.footer-top{
  padding-top:45px;
  padding-bottom:50px;

}

.footer-top{
  border-bottom: none;
}
.footer-content{
  padding: 0px 45px 45px 45px;
  
}

.footer-dropdown-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.footer-drop-down{
  padding: 0px;
}

.f-drop-down-icon, footer .dropdown-line{
  display: none !important;
}


footer .drop-down-top{
  justify-content: flex-start;
}

.f-drop-down, footer .contact{
  padding: 0px;
}

.f-dropdown-content{
  display: flex ;
  max-height:200px;
  gap:20px;
  padding-top: 24px;
  
}

.footer-drop-down-link, .f-dropdown-content a,footer .contact p {
  font-size: 14px;
}

footer .contact-list{
  padding-bottom:32px;
  gap:16px;
} 

.footer-bottom{
  padding-top: 28px;
  padding-bottom: 28px;
}
.footer-bottom p, .footer-bottom-links a{
  font-size: 12px;
}

}

@media (min-width: 991px) {

.universal-wrapper{
  padding: 60px 47px;
}

  /* /////////////////////////////////
              header 
  ///////////////////////////////// */

  header{
    padding: 0px 47px;
  }

  .open-icon {
    display: none;
  }

  .header-desktop-menu{
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .dropbtn {
    color: #222;
    line-height: 1.7;
    cursor: pointer;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .dropbtn::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #182cc0;
    transition: width 0.7s ease, left 0.7s ease;
  }
  
  .dropbtn.dropdown-active::after {
    width: 100%;
    left: 0;
  }
  
  .desktop-dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 32px 0px;
    gap: 16px;
    max-width: 190px;
  }

  .desktop-dropdown-content a{
    padding-right: 47px; 
    font-size: 16px;
    transition: color .25s ease-in-out;
    color: rgb(20, 23, 25);
  }
 
  .header-bg-image{
    padding: 32px 47px;
    background-color :#fff; 
    min-height: 205px;
    position: fixed;
    top: 80px;
    bottom: auto;
    left: 0;
    right: 0;
  }

  .header-bg-image img{
    margin-bottom: 21px;
  }

  /* /////////////////////////////////
              header 
  ///////////////////////////////// */


.current-page-section{
  padding-left: 47px;
  padding-right: 47px;
}

.hero-section-wrapper{
  padding: 32px 47px 60px 47px;
  position: relative;
  z-index: -1;
}

.hero-content{
  padding: 80px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 580px;
}

.select-cards-container{
  min-height: 542px;
}

.select-card-content{
  padding: 40px;
}

.numbers-container{
  flex-direction: row;
  justify-content: center;
  }

.number-card {
  flex: 1;
}

.h-scroll-cards-container{
  margin-right: -47px;
}

.download-app-wrapper {
  margin: 60px 0px;
 }

 .download-padding{
  padding:0px 47px;
 }

 .download-app-content{
  min-height: 374px;
 }

 .downolad-btn{
  display: none;
 }

 .desktop-buttons{
  display: flex;
  width: 55%;
  gap: 16px;
 }


 .desktop-buttons button {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, background-position 0.25s ease-in-out;
  display: flex;
  background-color: transparent; /* Initial background color */
}

.desktop-buttons button:hover {
  background-color: #e1e4e5; /* Change this to the color you want on hover */
  color: #000; /* Change this to the text color you want on hover */
}

.footer-wrapper{
  margin-top:60px;
}

.footer-top, .footer-content, .footer-bottom{
  padding-left:47px;
  padding-right:47px;
}

}

@media (min-width: 1024px) {

.h-scroll-cards-container, #awards-container{
  grid-auto-columns: 36%;
  gap: 30px;
}
}

@media (min-width: 1200px) {

  /* /////////////////////////////////
              header 
  ///////////////////////////////// */
  .header-desktop-menu{
    margin-left: auto;
    margin-right: auto;
  }

  .lang-dropdown{
    display: flex;
    position: relative;
  }

  
.footer-top, .footer-content ,.footer-bottom{
  padding-left:0px;
  padding-right:0px;
}
  
  /* /////////////////////////////////
              header 
  ///////////////////////////////// */

}

@media (min-width: 1440px) {

  body, .lang-dropbtn,.footer-drop-down a, footer .contact p {
    font-size: 16px;
  }

  h1{
    font-size: 28px;
  }
 
  .hero-content{
    padding: 95px;
    max-width: 700px;
  }
  
  .text{
    font-size: 36px;
  }

  .sliders{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .scrollbar-thumb{
    width: 300px;
  }

  .arrow-btn{
    display:flex;
    background: none;
  }

  .arrow-btn{
    color: #d1d5d6;
  }

  .arrow-btn.active {
    color: blue; 
  }

  .h-scroll-cards-container, #awards-container{
    margin:0px;
    grid-auto-columns: 31.5%;
    overflow-x: auto;
    cursor: grab;
    padding-right: 0px;

  }
  .h-scroll-card {
    transition: box-shadow .4s ease-in-out, background-color .4s ease-in-out;
  }
  
  .h-scroll-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transform: scale(1.01);
  }

  .products-slider{
    opacity:0;
  }

  .download-app-content{
    min-height: 414px;
  }
  .download-app-content{
    gap: 24px;
  }

}  

  